.container {
  font-size: 1.4rem;
  width: calc(100vw - max(min(120px, 10%), 92px) - max(min(538px, 24%), 300px));
  right: 0;
  position: fixed;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  .wrap_edit_items {
    background: rgba(128, 128, 128, 0.322);
    position: absolute;
    width: 100vw;
    height: 100vh;
    .edit_item {
      text-align: left;
      border-radius: 1rem;
      width: 20vw;
      background-color: #fff;
      display: inline-block;
      padding: 2rem 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      line-height: 2.3rem;
      .content {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .count_day {
    background-color: rgb(255, 161, 177);
    color: #fff;
    margin: auto;
    border-radius: 5rem;
    padding: 1rem 4rem;
    cursor: pointer;
    .day {
      font-size: 3rem;
    }
    .time {
      font-size: 5rem;
    }
  }

  .title {
    color: rgb(255, 45, 80);
    font-size: 4rem;
    padding-top: 5%;
  }
  .item {
    display: flex;
    align-items: center;
    gap: 5vw;
    margin: auto;
    .content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
    }
    .iconHeart {
      color: rgb(243, 104, 127);
      font-size: 3.5rem;
    }
    img {
      width: 20rem;
      height: 20rem;
      border-radius: 100%;
      object-fit: cover;
    }
  }
}

.width {
  width: calc(100vw - max(min(120px, 10%), 92px));
}
.active {
  display: flex;
}
